<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Request Timeline</title>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
				<h1 align ="center" class="text-info">Change Request Management System</h1>
				<hr>
	
    <h1>Change Request Timeline</h1>
    <table 	border="1" class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Status</th>
                <th>Start Date</th>
                <th>Completion Date</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${timeline}">
                <td th:text="${entry.status}"></td>
                <td th:text="${entry.startDate}"></td>
                <td th:text="${entry.completionDate}"></td>
                <td th:text="${entry.comments}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/changeRequests">Back to Change Requests</a>
</body>
</html>